.bar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 0px;
}

.application {
    justify-content: space-between;
}

.home {
    justify-content: center;
}

.logo {
    height: 50px;
}