.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.application {
    justify-content: space-between;
}

.home {
    justify-content: center;
}

.logo {
    height: 50px;
}