@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
	font-family: 'Montserrat', serif;
}

html,
body {
	height: 100%;
	font-size: 20px;
	background-color: rgb(234, 233, 233);
}

h1, h2, p {
	color: #444;
}
