@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', serif;
	background: rgb(240, 239, 239);
}

html,
body {
	height: 100%;
	font-size: 20px;
}

h1, h2, p {
	color: #444;
}
